{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}
<section class="container section">
    <div class="section__header">
        <h2>КОРЗИНА</h2>
        <p class="page-subtitle">
            {% if items %}
                {{ items|length }} товар{% if items|length != 1 %}ов{% endif %} в корзине
            {% else %}
                Корзина пока пустая
            {% endif %}
        </p>
    </div>

    {% if items %}
    <div class="cart-layout">
        <div class="cart-items">
            {% for item in items %}
                <article class="cart-item" data-product-id="{{ item.product.id }}" data-price="{{ item.product.price }}">
                    <div class="cart-item__img">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img src="/media/products/default.jpg" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>

                    <div class="cart-item__info">
                        <h3>{{ item.product.name }}</h3>
                        <p>{{ item.product.description }}</p>

                        <div class="cart-item__bottom">
                            <div class="qty">
                                <button type="button" class="cart-qty-minus">−</button>
                                <input type="number" class="cart-qty-input" value="{{ item.qty }}" min="1">
                                <button type="button" class="cart-qty-plus">+</button>
                            </div>

                            <div class="price cart-item-total">{{ item.item_total }} ₽</div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>

        <aside class="cart-summary">
            <h2>Итого</h2>

            <div class="summary-row">
                <span>Товары</span>
                <strong>{{ total }} ₽</strong>
            </div>

            <div class="summary-row">
                <span>Доставка</span>
                <strong>0 ₽</strong>
            </div>

            <div class="summary-total">
                <span>К оплате</span>
                <strong>{{ total }} ₽</strong>
            </div>

            <button class="checkout-btn" type="button">Оформить заказ</button>
        </aside>
    </div>
    {% else %}
        <div class="empty-state">
            <p>🛒</p>
            <p>В корзине пока нет товаров.</p>
        </div>
    {% endif %}
</section>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}