<nav class="topnav">
    <div class="container">
        <div class="topnav__inner">
            <ul class="menu">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'catalog:product_list' %}">Каталог</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'orders:orders_page' %}">Мои заказы</a></li>
                {% endif %}

                <li>
                    <a href="{% url 'cart:cart_detail' %}" class="nav-cart">
                        <span class="nav-cart__text">Корзина</span>
                        {% if cart_count > 0 %}
                            <span class="nav-cart__badge">{{ cart_count }}</span>
                        {% endif %}
                    </a>
                </li>

                <li><a href="{% url 'catalog:offers_page' %}">Спецпредложения</a></li>
                <li><a href="{% url 'catalog:contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>