<!-- templates/partials/navbar.html -->
<nav class="topnav">
    <div class="container">
        <div class="topnav__inner">
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/products/catalog.html">Каталог</a></li>
                <li>{% if user.is_authenticated %}
                    <a href="{% url 'orders' %}">Мои заказы</a>
                {% endif %}</li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>